[2021-03-25 11:38] AdamChrimes commented on #721
Thanks for raising this issue @StephenHill-NHSBSA, we're going to doing some work on the Header in the near future which will see a few design changes to both the Menu and the Search. This is something we'll factor into that piece of work.

[2021-04-13 14:13] AdamChrimes commented on #604
Going to pick this up as we're looking to move the Nunjucks arguments table out of the GitHub `README` files and onto the NHS digital service manual component nunjuck code examples.

[2021-04-14 15:33] windy1 opened #728 "Implications of setting font-family on html selector"
# Bug Report

## What is the issue?

Because of [how cache partitioning works in most modern browsers](https://www.zdnet.com/article/chromes-new-cache-partitioning-system-impacts-google-fonts-performance/), it's now recommended that websites self-host their fonts. Unfortunately, `nhsuk-frontend` does not make this easy to achieve. The culprit is [setting the `font-family` on an `html` selector](ht

[2021-04-16 17:01] AdamChrimes commented on #728
Hey @windy1 thanks for opening this issue, the team will get together and have a chat about this. If you want to open a pull request with your proposed idea or solution that is something we'd be grateful for.

[2021-04-19 13:41] #702 closed

[2021-04-22 09:55] andymantell commented on #701
As mentioned in https://github.com/alphagov/govuk-frontend/issues/1791, support is still quite patchy for `@use` and we would risk breaking many people's builds since we do not mandate a particular build chain. Once support is more widespread we could revisit.

Switching away from node-sass is worth doing though so I will open a separate ticket for this.

[2021-04-22 09:58] andymantell opened #730 "node-sass is deprecated - switch to dart-sass"
As mentioned in #701 the node-sass module is now deprecated (see https://sass-lang.com/blog/libsass-is-deprecated).

Dart-sass is the way forward - via the `sass` package on npm (https://www.npmjs.com/package/sass). We should migrate to this.

[2021-04-22 20:58] windy1 commented on #728
Hi @AdamChrimes, thanks for the timely response. I've submitted a PR https://github.com/nhsuk/nhsuk-frontend/pull/732

Thanks!

[2021-04-26 09:28] #730 closed

[2021-04-27 15:55] xLasercut opened #733 "Expected footer image is incorrect in backstop test"
# Bug Report

## What is the issue?

Footer page reference image is incorrect in backstop test

## What steps are required to reproduce the issue?

Run backstop test with correct footer page. Currently visiting the footer example page gives a "Cannont GET /components/footer/index.html"

## What was the environment where this issue occurred?

* Device: Any
* Operating System: Any
* Browser: Google

[2021-04-27 18:26] chrimesdev commented on #733
Thanks @xLasercut for some strange reason the Footer page is no longer compiling, I'll take a look.

[2021-04-27 18:27] chrimesdev commented on #733
Thanks @xLasercut looks like the Footer preview page was accidentally deleted - I will take a look at this.

[2021-04-27 19:40] #733 closed

[2021-04-29 12:58] nhsbsa-chris opened #735 "Axe/Lighthouse accessibility issue with Warning Callout component"
# Bug Report

## What is the issue?

We are using the Warning Callout component but Axe and Lighthouse both report an issue with the use of `span[role="text"]`

**Axe**

<img width="1440" alt="Screenshot 2021-04-29 at 13 16 50" src="https://user-images.githubusercontent.com/34475600/116549505-7941c100-a8ed-11eb-907b-bc6e32b7463f.png">

**Lighthouse**

<img width="1440" alt="Screenshot 2021-04-29 a

[2021-04-29 13:15] mcheung-nhs commented on #735
Hi @nhsbsa-chris,

Thanks for raising this.

The reason we use the `<span role="text"></span>` was to deal with a VoiceOver 'feature' where it reads out 'chunks' of content if wrapped in separate elements. See https://axesslab.com/text-splitting/ for an explanation.

Unfortunately the role of 'text' is not a valid role value, hence why axe flags it as an issue.
However, we took the view in this ca

[2021-05-04 12:52] kaycee45 opened #737 "SVG elements receiving focus on IE11"
SVG images on IE11 are focusable by default, so this means that when a keyboard user navigates the NHS sites on IE11, all SVG images receive focus automatically. This should not be the case because it is an accessibility fail and it also could confuse users who depend on keyboard for navigation and assistive technologies.

Below is more details on the issue and my resolution

Steps to recreate:
1.

[2021-05-11 08:53] andymantell commented on #728
This was fixed in #732

[2021-05-11 08:53] #728 closed

[2021-05-11 14:26] chrimesdev commented on #504
Looking at improving some Nunjucks macros, so will pick this backup.

[2021-05-11 14:28] chrimesdev commented on #735
Are we happy for this issue to be closed @nhsbsa-chris @mcheung-nhs?

[2021-05-11 14:37] chrimesdev opened #743 "Write documentation for Maintainers"
## Description

Expand the [Contributing documentation](https://github.com/nhsuk/nhsuk-frontend/blob/master/CONTRIBUTING.md) to include documentation for Maintainers, for tasks such as Pipelines, Deploying, Releasing, Versioning and any other maintainer specific information that might be useful for future developers.

Similar to a Runbook for NHS.UK frontend

[2021-05-12 19:02] #735 closed

[2021-05-19 09:45] mikestreety opened #745 "Header Navigation missing Active/Current CSS"
# Bug Report

## What is the issue?

The design system has an "active/current" state on the header navigation, but I can't find any reference this in either the SCSS or Documentation.

I'm not sure if I'm missing something or something has been missed.

## What steps are required to reproduce the issue?

1. Go to https://service-manual.nhs.uk/design-system
2. Note "Design System" as a `app-header_

[2021-05-19 09:50] chrimesdev commented on #745
Hey @mikestreety this active/current style is a custom style on the NHS digital service manual, the class is prefixed with `app-`, rather than `nhsuk-`, which indicates its not coming from the frontend library.

[2021-05-19 10:02] mikestreety commented on #745
Ah thank you!

Is there an active state or similar (or guidelines) specified for navigations or should I implement my own?

[2021-05-19 10:06] chrimesdev commented on #745
There is an `:active` pseudo state (see screenshow below), but there no style for an active/current page (as on the service manual example) - you would need to implement your own using a similar approach to the service manual (custom style prefixed with `app-`).

![Uploading Screenshot 2021-05-19 at 11.04.17.png…]()

[2021-06-09 12:49] chrimesdev commented on #745
Hey @mikestreety I'm going to close this issue as I'm presuming this resolved your query. If it didn't feel free to reopen it.

[2021-06-09 12:49] #745 closed

[2021-06-14 18:20] chrimesdev commented on #604
Nunjucks macro options have been added to the NHS digital service manual using the correct format for arrays. Documentation in the frontend library will be updated to point at the service manual guidance soon.

[2021-06-15 10:52] andymantell opened #747 "Consider the appearance of components when CSS is not loaded"
# Bug Report

## What is the issue?

When viewing an nhsuk-frontend based site without CSS there are some aspects that become very large (the back arrow) or fail to convey their purpose (the NHS logo). This doesn't matter most of the time - but this morning the CSS was failing to load on one of the covid related services in production. The service still worked (Hooray for progressive enhancement!)

[2021-06-22 15:46] mikemonteith opened #749 "Ctrl + Click on card doesn't open new tab"
# Bug Report

Ctrl + Click not respected on card components

## What is the issue?

When ctrl + clicking on the body of a clickable card, the link navigates insside the current tab.
It is expected that ctrl + click creates a new tab in most browsers.

## What steps are required to reproduce the issue?

Ctrl + Click on a card. (examples here https://www.nhs.uk/pregnancy/)

N.B ctrl + click on the t

[2021-06-22 15:47] mikemonteith commented on #749
This issue is caused by the fact that clickable cards use javascript to `.click()` on the <a> element when a card body is clicked on.
Can we do something to support ctrl+click?

[2021-06-22 17:05] SamNHS commented on #749
Something like checking if the ctrl key is used may work (not tested):

[code]

Although that doesn't factor in if the click is set up to do something else (highlighting target elements container fieldset/group for example). It may not work as expected on other platforms (e.g. MacOS).

[2021-06-25 08:30] mikemonteith commented on #749
I think the root issue here is that we're faking a link when it's not semantically defined in the HTML.
What if JS fails to load? We end up with a card that looks as if it's clickable when it's not.

[2021-06-25 10:09] SamNHS commented on #749
I think it may make sense to use the `.js-enabled` class for elements that are only clickable when JavaScript is enabled. The workaround now is to override the style:
[code]

[2021-06-25 10:52] andymantell commented on #749
It could be done without JS at all by positioning a pseudo element from inside the <a> tag over the top of the whole card. So when you click on the card, you are clicking the underlying link element like this:

https://codepen.io/andymantell/pen/XWjXWzK

Pro: No JS needed - and all "normal" ways of clicking a link _just work_ (i.e. Ctrl-Click, Middle click, Right click and select "open in new tab"

[2021-06-25 11:04] Fenwick17 commented on #749
The JS loading styling issue could be resolved just by modifying how the styles are applied. Which probably should be done anyway.

[2021-06-25 11:17] Fenwick17 commented on #749
Nomensa have a good blog post around clickable cards, different ways to do them and use them https://www.nomensa.com/blog/how-build-accessible-cards-block-links

@mikemonteith Users can still Ctrl + Click onto the link/title itself, as that still respects standard link behaviour.

[2021-06-25 11:52] mikemonteith commented on #749
@Fenwick17 Ctrl+click on the link/title itself causes a new tab *and* navigates the current tab. (Firefox)
In Chrome it doesn't seem to open a new tab at all.

And anyway users shouldn't have to know where on the card they should click or not click if the entire thing is clickable

[2021-06-25 13:23] Fenwick17 commented on #749
I should be able to do some further testing on this and the example @andymantell provided next week. Adrien Roselli also has a good blog post regarding the CSS only implementation https://adrianroselli.com/2020/02/block-links-cards-clickable-regions-etc.html

[2021-06-30 14:42] frobernik opened #751 "Focus behaviour for buttons and anchors"
# Bug Report

## What is the issue?

The yellow focus indicator is visible after clicking on a button or an anchor.

## What steps are required to reproduce the issue?

### Mouse click
Move the mouse over the button, click and then move the mouse away. The yellow highlight is shown on the button.
![mouseFocusAndClick](https://user-images.githubusercontent.com/632231/123977188-ae829200-d9b6-11eb-9d

[2021-07-01 09:24] britannio opened #752 "Slash as Division SASS Deprecation"
# Bug Report

## What is the issue?
https://sass-lang.com/documentation/breaking-changes/slash-div
The deprecated division operator is being used in SASS files thus producing a series of warnings.

A migration tool is available to fix this issue: https://sass-lang.com/documentation/breaking-changes/slash-div#automatic-migration

## What steps are required to reproduce the issue?

## What was the e

[2021-07-01 10:22] SamNHS commented on #752
This will also need an update to the package.json as it is currently `"sass": "^1.32.11"` and `math.div` requires sass 1.33 or later

[2021-07-01 14:51] andymantell commented on #751
This is expected behaviour _at the moment_ - the reality is that in both these situations the button _is_ still focused so the yellow highlight is shown correctly. You'll see the same behaviour if you look at the buttons on https://design-system.service.gov.uk/

However, this _is_ now "fixable" by using https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible but I don't think this is somet

[2021-07-02 08:02] andymantell commented on #751
Had a quick chat with someone from the GOV.UK design system team and they said:

[2021-07-02 10:15] frobernik commented on #751
Thanks for getting back quickly.

I experimented a little (before you pointed out `:focus-visible`) and attached a document wide listener that blurs the highlight when a mouse click occurs but keeps the highlight when an Enter key is pressed.

The behaviour of this change felt odd though as the highlight got lost and this would no doubt confuse people alternating between keyboard and mouse - mysel

[2021-07-09 17:30] mcheung-nhs opened #754 "Details component announces its default and expanded state 1 time but not subsequent times using NVDA"
# Bug Report

## What is the issue?
When using the details component with NVDA, expanding the summary text announces the 'expanded' state and when closing it, the 'collapsed' state is announced. However, subsequent opening and closing does not get announced.

## What steps are required to reproduce the issue?
1. Go to a page with the details component, eg. https://www.nhs.uk/medicines/paracetamol-

[2021-07-11 13:00] input-variable commented on #737
![image](https://user-images.githubusercontent.com/11876024/125195975-fbd0f000-e24f-11eb-852e-420f8286d922.png)
I'm also getting this on Brave Version 1.26.74 (Chromium: 91.0.4472.124)

[2021-07-11 13:16] input-variable commented on #737
![9952460929915bae51be067b4055673e](https://user-images.githubusercontent.com/11876024/125196492-1e640880-e252-11eb-9fde-f3a99e92b0fe.gif)

I'm not getting this issue on IE11. It may have been fixed in one of the pull requests from may until now as "focusable=false" is present on the NHS website.

![image](https://user-images.githubusercontent.com/11876024/125196511-320f6f00-e252-11eb-839e-c77f42c

[2021-07-13 13:13] Fenwick17 commented on #749
I have done some testing on this with the CSS only solution, and a modified version of the current JS solution:
## CSS Only
* Generally works the same, but content within the card can't be highlighted at all (same as JS version)
* No JS so bring performance improvements
* 'Card with image' the image part of the card isn't clickable by default, so might need to restructure  the HTML to make this wo

[2021-07-13 13:41] andymantell commented on #749
the JS solution would still not work when using a middle mouse button? And on windows, e.metaKey is the windows button, but it is the Ctrl button which is used to open new tabs.

[2021-07-13 13:44] andymantell commented on #749
As for the CSS solution, with the following html:

[code]

`position: relative` on the whole `.nhsuk-card` would allow you to put the clickable area over the whole image, without restructuring the html? At the moment the `.nhsuk-card__content` seems to have `position: relative` on it but I can't see why. Unless anyone knows a reason for it being there, that could be removed, and allow the invisibl

[2021-07-13 14:41] Fenwick17 commented on #749
Generally I would be in favour of moving to the CSS only solution.
`position: relative` can be added to the card and removed from the content without issue, or at least none I can spot.

The only real downside is the no text selection, which is semi possible with the JS implementation if you copy before mouseup.
But generally the text within these clickable cards shouldn't include anything that us

[2021-07-20 10:16] #751 closed

[2021-07-26 15:58] rhysbarrett opened #758 "Clickable Cards open two new tabs when anchor target is set to "_blank""
# Bug Report

## What is the issue?

When using Clickable Cards for links to external sites (and thus expecting links to open as new tabs), clicking the link itself causes two new tabs to open, instead of one. Clicking anywhere else in the card only causes one new tab to open, so this is likely an event propagation issue.

**Note**: Initial tests suggest this issue affects Firefox, but not Chrome

[2021-07-29 13:20] chrimesdev opened #759 "Updating BackstopJS dependency from v5.0.8 to v5.3.5 breaks tests unexpectedly"
## Description

When updating the BackstopJS visual regression testing dependency to the latest versions the tests are breaking unexpectedly

See discussion: https://github.com/nhsuk/nhsuk-frontend/pull/757

For now we are keeping it pinned at `v5.0.8` until we can investigate further. It might just be a case of updating all 16 reference screenshots once upgrading the package.json dependency to `v

[2021-07-29 13:21] #720 closed

[2021-07-30 09:57] Fenwick17 opened #760 "NVDA not reading visually hidden text on mouseover"
# Bug Report

## What is the issue?

When mousing over regular content with NVDA enabled, the content will be read out.
However, when mousing over a link or content that includes visually hidden text with `nhsuk-u-visually-hidden` NVDA does not read this content out.
As an example our summary list component:
[code]
When this link is hovered NVDA will just read "Change" and never detect the visuall

[2021-08-04 07:53] andymantell commented on #759
NodeJS went from 10 to 14, and puppeteer from 2 to 10 in the period between 5.0.8 and 5.3.5 - my money would be on one of those

[2021-08-04 08:57] andymantell commented on #618
I can't reproduce this on the design system website. And the nhs.uk site itself seems now to have deviated anyway - and is showing the search box all the time.

Seems to me that this could probably be closed.

![bs_realios_Mobile_iPhone 11 Pro Max-13 0](https://user-images.githubusercontent.com/134642/128152775-aa483639-22e5-4bcd-bf7e-1547e5e96861.jpg)

[2021-08-04 09:21] andymantell commented on #754
I can reproduce this, on NVDA 2020.4 and 2021.1 in Firefox.
It doesn't occur in Chrome.
And crucially, it doesn't occur when I made a codepen with a really basic details element, so there's something uniquely wrong with the nhsuk-frontend one.

Will investigate...

[2021-08-04 09:46] andymantell commented on #754
It appears that the JS polyfill that we are using and applying _regardless_ of the presence of native details/summary support is actually making it worse in Firefox. When I disable this JS, Firefox starts behaving properly.

Speaking to @tomdoughty - this polyfill was put in at a time when even browsers that _did_ support it, didn't support it well, and screenreaders were not announcing the state

[2021-08-05 09:18] DomBaker opened #763 "Add Gitpod to frontend library"
Adding Gitpod to the frontend library enables the use of a browser-based development environment.

- [x] Add Gitpod yml
- [x] Add Gitpod Button to README
- [x] Add Gitpod app to repo
- [x] Setup pre-build
- [x] Test functional use (ability to commit, push, ect)

[2021-08-10 11:19] sliddellbjss opened #766 "ErrorSummary - keyboard focus issue"
# Bug Report
​
## What is the issue?
​​
Moving the keyboard focus to the input element that has the error while on Error Summary does not work on FireFox.
​
## What steps are required to reproduce the issue?
​
Open up FireFox
Go to: https://service-manual.nhs.uk/design-system/components/error-summary
Scroll to the first example
Press 'Enter your full name'
See that focus does not move the cursor t

[2021-08-12 08:46] #763 closed

[2021-08-23 02:35] idiosyn opened #768 "Search input: focus state style (desktop)"
The search input focus state style on desktop has a thin black border. It’s different from the [standard focus state styles](https://service-manual.nhs.uk/design-system/styles/focus-state). Is there any reason for that?

![image](https://user-images.githubusercontent.com/38734779/130381615-3fe4e9a2-858d-42dd-85e2-da1c8898ff01.png)

If not, I'd like to suggest these changes:

https://github.com/nhs

[2021-08-23 10:03] chrimesdev commented on #768
Hey @idiosyn I will look into this and see if theres a reason it is this way. I may need to check with a Designer about it.

[2021-08-23 10:09] #609 closed

[2021-08-23 10:25] andymantell commented on #766
This works fine when running the nhsuk-frontend dev server. The reason it's not working in the service manual is because the `ErrorSummary` component is not initialised. @chrimesdev - when we merged this, we forgot to do this!

Interestingly, in Firefox, without the JavaScript, this HTML _does not_ result in the input field being focused. But it does in Chrome. Not sure what, if anything, we shoul

[2021-08-23 11:50] karlgoldstraw commented on #768
Seems to work as expected in mobile breakpoints, but not on desktop. Will take a closer look.

<img width="581" alt="Screenshot 2021-08-23 at 12 49 11" src="https://user-images.githubusercontent.com/3852457/130442313-f4cee746-1f08-48bd-9ee0-5dfa68b9004f.png">

[2021-08-23 12:25] #747 closed

[2021-08-24 18:43] chrimesdev commented on #766
After initialising the `ErrorSummary` on the NHS digital service manual... the issue now is that when you visit the Error Summary component, on page load, the Error Summary JavaScript kicks in and jumps you half way down the page to the first Error Summary example code snippet.

We are trying to think of the best way around this, potentially something like: https://github.com/nhsuk/nhsuk-frontend/

[2021-08-25 16:29] karlgoldstraw commented on #768
@chrimesdev I've had a look around at this and can find absolutely nothing stating that this was done for a reason, so please can we set it up as a bug to be fixed as suggested by @idiosyn above?

Or @idiosyn if you'd like to make pull request of the changes?

[2021-09-01 22:04] #768 closed

[2021-09-16 10:53] andymantell commented on #754
Weirdly I seem to no longer be able to reproduce this issue! I could do this morning, but NVDA has updated itself since and now I can't get back to a broken state.

Nevertheless, I think the fix in the attached pull request is sensible anyway.

[2021-09-20 12:59] #754 closed

[2021-10-08 10:37] andymantell opened #778 "Headings inside legends not recognised by JAWS"
# Bug Report

## What is the issue?

When headings (e.g. &lt;h1&gt;) are nested inside a &lt;legend&gt; JAWS does not announce them when pressing the `H` key.

I note that a _very_ similar issue has been closed in the past at https://github.com/nhsuk/nhsuk-frontend/issues/534. However this issue is current and is unrelated to any `overflow: hidden` css. It occurs in a plain html page outside of th

[2021-10-11 09:29] nickcolley commented on #778
It may vary between different assistive technologies it's been a while since I've tested this so can't remember I'll be honest. Worth trying more than JAWs for this one I think if you're able to.

[2021-10-11 09:30] andymantell commented on #778
oh absolutely, I'm testing as much as I can get my hands on, and, though he doesn't know it yet, I'm hoping @mcheung-nhs might be able to have a look through as well for another pair of eyes

[2021-10-11 11:28] andymantell commented on #778
Using the following markup pattern has tested well so far:

[code]

Tested in:

Windows 10 | Chrome 94 | JAWS 2021
Windows 10 | Chrome 94 | NVDA 2021.1
Windows 10 | Firefox | NVDA 2021.1
Windows 10 | IE11 | NVDA 2021.1
Windows 10 | Edge | NVDA 2021.1
Android 10 | Chrome 94 | TalkBack
iOS 14.7.1 | Safari | Voiceover

@mcheung-nhs Would you be able to take a look through the examples here https://nh

[2021-10-11 12:45] andymantell commented on #778
@adamliptrot-oc was able to test MacOS / Voiceover for me as I can't test that platform - but unfortunately it appears that the heading was not accessible when using the `role="heading"`. Which is probably enough to make this pattern unviable :-/

[2021-10-19 13:28] mcheung-nhs opened #781 "Search magnifying glass in the header misalligned in Safari on iPad and iPhone (landscape)"
# Bug Report

## What is the issue?
The magnifying glass on the search button in the header is not centrally aligned - it's a bit too far to the right.

## What steps are required to reproduce the issue?
Go to www.nhs.uk or the header example for the nhs.uk frontend library (https://nhsuk.github.io/nhsuk-frontend/components/header/index.html) on an iPad or an iPhone in landscape.

## What was the

[2021-10-20 11:03] andymantell opened #783 "Some backstop reference images committed to git are the Backstop error image"
# Bug Report

## What is the issue?

Some backstop reference images committed to git are the Backstop error image:

![image](https://user-images.githubusercontent.com/134642/138077525-13776d8a-726d-47db-afa4-bb6746e27a3b.png)

Clearly this makes the tests based on these reference images a bit pointless. And possibly suspect - how have they been passing up to now, given that some of the reference i

[2021-10-21 08:47] #781 closed, assigned to andymantell

[2021-10-21 11:24] #783 closed, assigned to nobody

[2021-11-02 15:01] teodorastraianu1 opened #789 "Text alignment override class"
# Bug Report

## What is the issue?

Related issue: https://github.com/nhsuk/nhsuk-service-manual-community-backlog/issues/297

We need a new override class for text alignment. Normally text needs to be aligned to the left (and it is by default in the prototype kit), but there are a few exceptions. (e.g. languages that run right to left, such as Arabic, when text needs to be right-aligned).

We ar

[2021-11-17 11:07] andymantell commented on #778
Update from https://github.com/alphagov/govuk-frontend/issues/1605#issuecomment-971454440

[2021-11-17 16:15] matteason opened #790 "Select elements have grey background in Firefox 94"
# Bug Report

## What is the issue?

In the latest Firefox release (94.0.1), `select` elements have a grey background by default. This makes them look disabled:

![image](https://user-images.githubusercontent.com/1935173/142237267-dab645df-82a0-44ba-b10b-a67377c2b2c3.png)

Compare to Chrome:

![image](https://user-images.githubusercontent.com/1935173/142237339-ca96d539-b190-4727-ab91-0db9c9ae9e22.

[2021-11-18 10:05] karlgoldstraw commented on #790
Seems to be the same on Gov design system: https://design-system.service.gov.uk/components/select/

[2021-11-18 10:12] karlgoldstraw commented on #790
Thanks for raising this @matteason. We will bring it into our team planning for the next sprint, but I suspect that with it being introduced by FF and is clearly linked to that version of FF, it is probably an issue that only they can fix.

Forcing a white background as you say, would probably create problems for users with custom colours.

From an accessibility point of view, the colour change is

[2021-11-30 10:36] jiveturkeyJay opened #796 "Add submit debounce functionality"
# Bug Report/Issue report

Not really a bug. On NBS we have had an issue with users double clicking and submitting forms twice.  This has led some users to an error page, even though they have booked a vaccine.  They then proceed to book another vaccine as they are told to.  It seems some users routinely double click and cause extra load on the servers by doing so.

The solution is to add a deboun

[2021-11-30 11:02] henocookie commented on #796
Something we could look at implementing in `nhsuk-frontend` @DomBaker @truecroft2? 👀

Worth testing and assessing the impacts this could have for people with slower internet connections and just how long we would wait to discount a double-click of a button

[2021-12-01 15:28] frobernik opened #797 "Fluid design / clearing wrapper"
# Bug Report

## What is the issue?

We've built a fluid design for one of our pages but theres an issue where one of the panels isn't being wrapped around by the 'nhsuk-main-wrapper' container div.

## What steps are required to reproduce the issue?

Build a page with a fluid layout or make a panel/div with `float:left` or `float:right` and with no clearing CSS.

## What was the environment where

[2021-12-02 15:53] henocookie commented on #797
@davidhunter08 thinks that applying the utility class `nhsuk-u-clear` to the containing div (panel) might solve the issue: https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/core/utilities/_clearfix.scss

[2021-12-02 17:11] frobernik commented on #797
Yes worked thanks 👍

[2021-12-02 17:11] #797 closed

[2021-12-03 09:48] klmr opened #799 "Don’t disallow legitimate “special” characters"
# Bug Report

## What is the issue?

Certain NHS web forms disallow an excessive list of “special” characters. This makes it harder to write concise, understandable messages, and likely serves no real purpose (I realise that the intent is likely to make injection attacks harder. However, it might be worth revisiting this since (a) the list is missing other special characters frequently used in inj

[2021-12-03 09:53] chrimesdev commented on #799
Whilst this is a problem across a number of services. Form validation rules are set within the individual applications (usually on the backend, rather than frontend), they are not set not centrally by the nhsuk-frontend library. The nhsuk-frontend library just contains the styling and JavaScript logic for focusing the error inputs on page load.

Saying this, guidance could possibly be added to the

[2021-12-03 09:53] henocookie commented on #799
Thanks for sharing this @klmr. From a quick look, I think this may be a restriction of just the test-and-trace.nhs.uk website. I have tried the same message with the special characters you shared in the contact form on nhs.uk and didn't get the error

[2021-12-03 09:55] henocookie commented on #799
@sarawilcox do you remember any of the forms guidance work that was done with Caroline Jannet and if anything covered guidance around special character restrictions?

[2021-12-03 09:57] klmr commented on #799
@henocookie Thanks for checking. I was wondering whether that would be the case but didn’t want to submit spurious messages on other NHS forms (in case the form accepted and submitted my message).

Feel free to close this issue and/or move it to a more appropriate repo.

[2021-12-03 10:15] henocookie commented on #799
Thanks @klmr, I have [opened a new issue](https://github.com/nhsuk/nhsuk-service-manual-community-backlog/issues/404) in the service manual community backlog repo to look into adding/improving guidance around validation for text input and text area components for teams that use them.

[2021-12-03 10:15] #799 closed

[2021-12-03 12:00] sarawilcox commented on #799
No @henocookie, don't think we have anything in the forms guidance. Would be good to collect insight into validation issues/solutions in the new issue.

[2021-12-07 13:03] DomBaker opened #801 "Card component display format"
# Bug Report
This section of code is causing an issue with the format of the card when converted to HTML.
<img width="853" alt="Screenshot 2021-12-07 at 12 58 25" src="https://user-images.githubusercontent.com/55799839/145033587-fc753ef1-c6de-4b92-82c6-42f13bcf04c7.png">
here is an example found on the Service Manual.
<img width="781" alt="Screenshot 2021-12-07 at 13 00 46" src="https://user-image

[2021-12-23 03:05] nitin094-hub commented on #721
Can you plz assign this task to me?

[2022-01-06 12:28] andymantell opened #805 "Footer text/bg colour combination fails contrast checks at AAA"
The colour combination of #D8DDE0 background and #4C6272 foreground fails AAA at small font sizes (Based on https://webaim.org/resources/contrastchecker/). This is in violation of the guidance set out in the NHS service manual.

![image](https://user-images.githubusercontent.com/134642/148382727-2446d338-811b-43c3-9131-c119a3095887.png)

![image](https://user-images.githubusercontent.com/134642/14

[2022-01-10 14:26] BrieWhyatt commented on #805
NHS.UK's Information Architecture team have recently updated the footer to contain links in the same style as the rest of the site. We have also grouped the links logically, making the footer more compliant to the AA standard.
![footer-post-review](https://user-images.githubusercontent.com/55788270/148781386-f274667f-8934-45d9-9ab6-78215cf20914.png)

However, this week, we are also iterating the f

[2022-01-11 14:16] henocookie commented on #789
@DomBaker or @wa-rren-dev please could one of you check the PR is good to merge? @mcheung-nhs has already accepted the review but just want one more check ideally.

Then we will have to update the nhsuk-frontend version for the service manual app to update the text-alignment example to use the nhsuk-frontend text-alignment class which will allow us to be able to remove the custom CSS in the servic

[2022-01-11 14:32] #789 closed

[2022-04-07 09:56] andrew-nhsbt opened #810 "Hyperlink Background on Focus hinders readability due to lack of padding"
## What is the issue?
When a hyperlink has focus, the yellow background has little to no padding left or right, meaning the background edge encroaches on the first and final letters of the hyperlink text, hindering legibility.

### Example 1:
![image](https://user-images.githubusercontent.com/103182752/162171138-39265886-a51b-4db6-a861-cf12730f825e.png)

### Example 2:
![image](https://user-images

[2022-04-09 10:54] andrew-nhsbt opened #812 "Interactive Controls with Focus - No distinction between hover/not-hovered"
## What is the issue?

Only distinction between focussed elements, and focussed elements being hover over is pointer change, which is hard to discern depending on OS/device settings.

## What steps are required to reproduce the issue?

1. Open a website which uses the NHS design system using a device with a pointer (i.e. not a phone/tablet)
2. Use tab to navigate down the interactive controls on t

[2022-04-12 15:33] DomBaker commented on #812
Hi Andrew, thanks for the contribution, I've put this forward to our lead service designer and accessibility lead, after evaluating the raised issue it's been agreed that this is expected behaviour. We'd love to see and or hear any evidence from users experiencing an issue with this or being a blocker to them clicking a link. Thanks once again for the contribution.

[2022-04-12 15:42] DomBaker commented on #810
Hi Andrew, thanks for the contribution. I've put this forward to our lead service designer and accessibility lead, after evaluating the raised issue it's been agreed that this is expected behaviour. Any evidence of this impeding a user's ability to read the text would be greatly appreciated.

[2022-04-19 08:36] #812 closed

[2022-04-19 08:36] #810 closed

[2022-04-28 16:42] xLasercut opened #815 "Feature Card/Card group backstop test incorrect"
# Bug Report

## What is the issue?

Backstop test screenshot and label for card group/feature card is incorrect
[code]

These two have the same label and they are using the same set of screenshots
Also, all "Card Group" screenshots contain only "Feature Card" component

## What steps are required to reproduce the issue?

Run backstop test with the filter "Card"

`npm run backstop:test -- --filter

[2022-05-10 14:13] Tomdango opened #817 "Accessibility in Warning Callout label - Failing Axe checks due to invalid aria role"
# Bug Report

## What is the issue?

The Warning Callout label has an invalid aria role in the label, causing an Axe failure.

## What steps are required to reproduce the issue?

Running Axe over the following HTML:

[code]

Produces the following error:

[code]

The `text` role does not exist in the W3C aria spec: https://www.w3.org/TR/html-aria/
I'd imagine the fix would be to simply remove the

[2022-05-10 14:38] andymantell commented on #817
I imagine it'll be something to do with this:

https://dequeuniversity.com/rules/axe/4.3/aria-text

[2022-05-11 08:10] wa-rren-dev commented on #817
Good call @andymantell, I'll try and dig into this a bit

[2022-05-11 12:27] wa-rren-dev commented on #817
I've tested this and it is indeed still an issue on VoiceOver for iOS. My opinion would be that we leave it in to prioritise usability over issues flagged by automated testing. @mcheung-nhs could I get your take?

[2022-05-11 13:39] sambrown3-nhs commented on #817
If it helps at all, @Tomdango and myself are no longer seeing this issue after updating the version of `aXe` we're using for automated testing.

[2022-05-11 13:43] wa-rren-dev commented on #817
Brill, thanks for letting me know. For future, do you know what versions you've moved from and to?

[2022-05-11 13:48] sambrown3-nhs commented on #817
We're using the `jest-axe` wrapper, and we've moved from `3.4.0` to `6.0.0`, in terms of `axe-core`, it looks to be a change from `3.5.?` to `4.4.1`

[2022-05-11 14:18] #817 closed

[2022-06-10 12:10] andymantell commented on #778
As per the update on this thread, this is now fixed in JAWS 2022:

https://github.com/alphagov/govuk-frontend/issues/1605#issuecomment-1077436947

[2022-06-10 12:10] #778 closed

[2022-06-22 07:34] andymantell opened #825 "Textareas / inputs in error state change height / dimensions when focused and unfocused"
# Bug Report

## What is the issue?

When a textarea is in the error state with a red border, it's height changes when you focus and unfocus. This causes the page below it to jump around slightly. Also, if you are using an autosizing checkbox, then focusing the textbox can sometimes cause the final word in the box to trigger a scrollbar.

Seems possibly similar to https://github.com/nhsuk/nhsuk-fr

[2022-06-22 10:11] andymantell commented on #825
The easiest way to resolve this is to bring the border styles back in line with govuk-frontend, so the error borders become 2px to match the non error border width. Like this:

![image](https://user-images.githubusercontent.com/134642/175003804-0fd0e1e6-1067-4b85-8556-108a0eee4236.png)

![image](https://user-images.githubusercontent.com/134642/175004045-bf9f7a01-b41d-4581-8e05-15996985c076.png)

I

[2022-08-08 16:04] #825 closed

[2022-08-11 07:48] andymantell opened #839 "Feature request: per-PR test environments"
When creating pull requests with bug fixes or new features, it's necessary to do cross browser testing. For me (and I suspect many others) this means using Browserstack. However, if you are running locally on `localhost:3000` it can be troublesome to get Browserstack iOS devices to connect to your local servers.

Therefore, it would be nice to be able to preview the pull request running on an envi

[2022-08-11 09:24] DomBaker commented on #839
This would be good to have, I'm just not sure who would own the account, I'd imagine infrastructure is probably the best to have control over it?

[2022-08-11 09:27] andymantell commented on #839
Couldn't the service manual team own the account? Don't know if they have an email address which could be used to sign up for it?

[2022-08-11 09:28] andymantell commented on #839
I think if we go to "Enterprise" on this, it simply won't happen. Seek forgiveness, not permission.

[2022-08-11 09:30] pflynny commented on #839
This sounds like a great idea 🙌

I think Dom is right, infra would have to set up the account and would grant access to whoever needed it.

[2022-08-11 10:02] DomBaker commented on #839
Other option could be, create a review env with public urls? Then that stops another tool that requires ownership being added to the equation.

[2022-08-11 10:09] andymantell commented on #839
Do you mean creating them on Azure? Bear in mind that we do get contributors that don't work for NHSD. It would be nice if a solution could be found that enabled that rather than moving things in-house.

The enterprising is happening. Keep it simple, and get stuff done!

[2022-08-11 10:14] DomBaker commented on #839
Could potentially use Heroku, but I do agree, it could over complicate things, I'd be more inclined to run with the idea of getting infra on board and if that doesn't go anywhere speak with Warren and get an  account made up for service manual to own.

[2022-09-08 08:30] 36degrees opened #842 "Checkbox labels are full-width"
# Bug Report

## What is the issue?

Checkbox labels are full-width, which means the entire area to the right of the visible label is clickable:

https://user-images.githubusercontent.com/121939/189073255-067021af-b90d-4176-8df7-5d64fae5e741.mov

This is notably different to the way that labels for radios work:

https://user-images.githubusercontent.com/121939/189073234-1b0a603b-9dea-440e-9ad7-0f5

[2022-11-02 18:24] mcheung-nhs commented on #842
Thanks @36degrees for the spot 👀
The issue was definitely unintentional so I've reordered the CSS.

[2022-11-02 18:24] #842 closed

[2022-11-30 13:17] Yogurt4 commented on #673
Just for reference, this doesn't seem to stand any longer. `href` (without namespace) works with all current browsers [not tested on Safari though, for their general dislike for SVG].

Furthermore, using `xlink:href`:

Firefox (107.0): Error page with **XML Parsing Error: prefix not bound to a namespace**
Chrome (107.0.5304.122): Error page with **Namespace prefix xlink for href on linearGradient